
:root {
    --white: #ffffff;
    --facebook: #244e9a;
    --twitter: #1DA1F2;
    --instagram: #E1306C;
    --linkedin: #0071bc;
    --github: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    background-image: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.card {
    width: 60rem;
    height: 45rem;
    overflow: hidden;
    border-radius: 40px;
    background-color: var(--white);
}

.header {
    width: 100%;
    height: 16rem;
    overflow: hidden;
    position: relative;
    top: 0;
}

.header img {
    width: 100%;
    top: -5rem;
    position: absolute;

}

.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 29rem;
    position: relative;

}

.information .logo {
    width: 20rem;
    height: 15rem;
    position: absolute;
    border: 5px solid var(--white);
    top: -80px;
    overflow: hidden;
}

.information .logo img {
    width: 100%;
    position: absolute;
}

.info h1 {
    font-size: 3.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 75px;
    flex-direction: column;

}

.info h5 {
    font-size: 2.7rem;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    color: darkslategray;
}

.social-networks {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.button {
    width: 6.5rem;
    height: 3.5rem;
    background-color: #bbbbbb;
    margin: 0 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks img {
    height: 2.8rem;
}

.button.twitter:hover {
    background-color: var(--twitter);
}

.button.instagram:hover {
    background-color: var(--instagram);
}

.button.linkedin:hover {
    background-color: var(--linkedin);
}

.button.Github:hover {
    background-color: var(--github);
}

.button.facebook:hover {
    background-color: var(--facebook);
}

@media screen and (max-width: 760px){
    .card {
        width: 35rem;
        height: 32rem;
    }
    .header {
        height: 9rem;
    }
    .information .logo {
        width: 9.4rem;
        height: 9.4rem;
        border: 3px solid var(--white);
        top: -60px;
    }
    .info h1 {
        font-size: 3rem;
        margin-top: 40px;
    }
    .info h3 {
        font-size: 2rem;
        margin-top: 10px;
    }
    .social-networks {
        margin-top: 15px;
    }
    .social-networks img{
        height: 1.8rem;
    }
    .button {
        width: 4.3rem;
        height: 3rem;
        margin: 0 10px;
        border-radius: 7px;
    }
}

@media screen and (max-width: 380px) {
    body {
        background-color: #C7C7C7;
    }
    .card {
        width: 25rem;
        height: 50rem;
    }
    .header {
        height: 9.5rem;
    }
    .information .logo {
        top: -35px;
    }
    .info h1 {
        font-size: 2.8rem;
        margin-top: 65px;
    }
    .info h5 {
        font-size: 1.8rem;
        margin-top: 5px;
    }
    .social-networks {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    .button {
        width: 12rem;
        height: 3rem;
        margin: 5px 0;
        border-radius: 12px;
    }
}
